@font-face{
  src: url("../fonts/Roboto-Light.ttf");
  font-family: "robotol";
}

@font-face{
  src: url("../fonts/Roboto-Regular.ttf");
  font-family: "robotor";
}
@font-face{
  src: url("../fonts/Roboto-Medium.ttf");
  font-family: "robotom";
}
@font-face{
  src: url("../fonts/Roboto-Thin.ttf");
  font-family: "robotot";
}
@font-face{
  src: url("../fonts/TitilliumWeb-SemiBold.ttf");
  font-family: "tittiliumsb";
}