@font-face{
  src: url("../fonts/Roboto-Light.ttf");
  font-family: "robotol";
}

@font-face{
  src: url("../fonts/Roboto-Regular.ttf");
  font-family: "robotor";
}
@font-face{
  src: url("../fonts/Roboto-Medium.ttf");
  font-family: "robotom";
}
@font-face{
  src: url("../fonts/Roboto-Thin.ttf");
  font-family: "robotot";
}
@font-face{
  src: url("../fonts/TitilliumWeb-SemiBold.ttf");
  font-family: "tittiliumsb";
}
//GENERAL CLASSES
.m-nav{
  padding-left: 60px;
  padding-right: 60px;
}

//BEGIN NAVBAR
.nav-link{
    font-family: robotom;
    border-top: 4px solid transparent;

  }


.nav-link:hover{
    border-top: 4px solid #f26c4f;
    /*text-shadow: -.25px -.25px 0 black,
    .25px .25px black;*/
  }


//END NAVBAR

//START HERO
#hero{
  background: url("../images/bg-hero.jpg") no-repeat;
}
/*.background {
  position: absolute;
  left: 0;
  top: 60px;
  z-index: -1;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(1px);
  filter: blur(2px);
}*/
.p-hero{
  padding-left:38px;
  padding-top: 315px;
}
.ps-h1{
  padding-left:55px;
}
h1{
  font-size:72px;
  color:white;
  font-family:robotor;
  padding-top: 30px;
  padding-bottom: 15px;
}
//END HERO